# Connect to FarmersMarket.db

In [13]:
import pandas as pd
import sqlite3
#set your location, slash direction will change for windows and mac
DB = '/Users/thomas/Documents/GitHub/02-intro_sql/05_src/sql/farmersmarket.db' 
#establish your connection
conn = sqlite3.connect(DB, isolation_level=None,
                       detect_types=sqlite3.PARSE_COLNAMES)

In [20]:
#run your query, use "\" to allow line breaks
db_df = pd.read_sql_query("SELECT p.*,pc.product_category_name \
                          FROM product p \
                          JOIN product_category pc \
                             ON p.product_category_id = pc.product_category_id"
                          ,conn)

In [21]:
db_df

,product_id,product_name,product_size,product_category_id,product_qty_type,product_category_name
0,1,Habanero Peppers - Organic,medium,1,lbs,Fresh Fruits & Vegetables
1,2,Jalapeno Peppers - Organic,small,1,lbs,Fresh Fruits & Vegetables
2,3,Poblano Peppers - Organic,large,1,unit,Fresh Fruits & Vegetables
3,4,Banana Peppers - Jar,8 oz,3,unit,Packaged Prepared Food
4,5,Whole Wheat Bread,1.5 lbs,3,unit,Packaged Prepared Food
5,6,Cut Zinnias Bouquet,medium,5,unit,Plants & Flowers
6,7,Apple Pie,"10""",3,unit,Packaged Prepared Food
7,9,Sweet Potatoes,medium,1,lbs,Fresh Fruits & Vegetables
8,10,Eggs,1 dozen,6,unit,Eggs & Meat (Fresh or Frozen)
9,11,Pork Chops,1 lb,6,lbs,Eggs & Meat (Fresh or Frozen)
10,12,Baby Salad Lettuce Mix - Bag,1/2 lb,1,unit,Fresh Fruits & Vegetables
11,13,Baby Salad Lettuce Mix,1 lb,1,lbs,Fresh Fruits & Vegetables
12,14,Red Potatoes,None,1,None,Fresh Fruits & Vegetables
13,15,Red Potatoes - Small,,1,None,Fresh Fruits & Vegetables
14,16,Sweet Corn,Ear,1,unit,Fresh Fruits & Vegetables
15,17,Carrots,sold by weight,1,lbs,Fresh Fruits & Vegetables
16,18,Carrots - Organic,bunch,1,unit,Fresh Fruits & Vegetables
17,19,Farmer's Market Resuable Shopping Bag,medium,7,unit,Non-Edible Products
18,20,Homemade Beeswax Candles,"6""",7,unit,Non-Edible Products
19,21,Organic Cherry Tomatoes,pint,1,unit,Fresh Fruits & Vegetables
20,22,Roma Tomatoes,medium,1,lbs,Fresh Fruits & Vegetables
21,23,Maple Syrup - Jar,8 oz,2,unit,Packaged Pantry Goods
22,8,Cherry Pie,"10""",3,unit,Packaged Prepared Food

Export the query:

In [10]:
#save
db_df.to_csv('database-py.CSV', index=False)

# Run a SQL query with pandasql

In [8]:
#!pip install pandasql

In [22]:
import pandas as pd
import pandasql as sql #this allows us to run SQLite queries!
p = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"
penguins = pd.read_csv(p) #create a dataframe

In [24]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [25]:
yrly_penguins = sql.sqldf('''SELECT DISTINCT year, COUNT(*) AS count, 
                          SUM(COUNT(*)) OVER (ORDER BY year) AS running_total
                          FROM penguins
                          GROUP BY year''') #run a SQLite query with sqldf()

In [26]:
yrly_penguins

   year  count  running_total
0  2007    110            110
1  2008    114            224
2  2009    120            344